*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.header{
    width: 100%;
    background-color:rgb(46, 152, 194);
    height: 600px;
}
.header h4{
    padding-left:160px;
    padding-top: 20px;
    color: #fff;
}
.header h1{
    padding-left: 160px;
    padding-top: 100px;
    color:#ffff;
    font-size: 500%;
}
.header h5{
    color:white;
    text-align: right;
    padding-right: 40px;
    padding-top: 10px;

}
.header .container {
    padding-left:160px;
    border-radius: 10px;
}
section{
    padding-left: 60%;
}
section img{
    width: 70%;
    height: 70%;
    text-align: center;
    margin-bottom:-1%;
    margin-top: -32%;
}
form{
    padding-left:160px;

}
form .input-group{
    text-align: center;
    padding: 5%;
}

.image1 img{
    padding-left:60%;
    text-align: right;
    justify-content: space-between;
}

.form-control{
    height: 30px;
    width:20%;
    border-radius: 3px;
    padding-top: 2px;

}
.row1 img{
    padding-bottom: 50%;
    text-align: center;
    text-align: inherit;

}

.row img{
    text-align: center;
    padding-left: 200px;
    display: flex;
    width: 20%;

}
footer{
    text-align: center;
    width:70%;
    height: 70%;
    padding-left: 105px;
    padding-top: 20px;
     
    
}
form .input-group{
    text-align: center;
    padding-left: 160px;
    padding: 20px;
    width:30%;
    height: 20%;
}

.jumbotron h1{
    text-align: center;
    justify-content: center;
    font-size: 50px;
    
}
.container{
    max-width: 1200px;
    margin: auto;
    overflow: auto;
    text-align: center;
    padding-top: 7%;
}

.text{
    margin:5px;
    float: left;
    width:390px;
    font-size: 10px;
    padding-top: 2%;
    padding-left: 30px;
    
}
.text img{
    width:100%;
    height:auto;   
}
.text p{
    font-size: small;
}
.button{
    text-align: center;
}

